ul li{
    
    border: 4px ;
    padding: 5px;
    margin: 7px;
  background-color: rgb(241, 101, 125);
    font-style: oblique;
    }

    ol li{
       
    border: 4px;
    padding: 5px;
    margin: 7px;
    background-color: rgb(241, 101, 125);
    font-style: oblique;
    
    }
    
h3{
    display: inline-block;
    border: 20px ;
   background-color: rgb(241, 101, 125);
    padding: 15px;
    margin: 17px; 
}

    body {
        background-color: pink;
        margin-block-end: 8px;
        
      }
      h1{
          font-style: oblique;
          color: rgb(80, 38, 64);
          margin: 15px;
          box-shadow: rosybrown;
          padding: 10px;
      }
      p{
          font-style: oblique;
          color: rgb(70, 3, 47);
          font-size: larger;
          padding: 10px;
   background-color: rgb(241, 101, 125);      
      }
footer{
    
}